<html ng-app="navTest">
  <head>
    <meta charset="utf-8">
    <title>List</title>

    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../../../../dist/css/ionic.css">
    <style>
.my-repeat-animation > .ng-enter, 
.my-repeat-animation > .ng-leave, 
.my-repeat-animation > .ng-move {
  -webkit-transition: 0.2s linear all;
  transition: 0.2s linear all;
  position:relative;
}

.my-repeat-animation > .ng-enter {
  left:-10px;
  opacity:0;
  z-index: 10;
}
.my-repeat-animation > .ng-enter.ng-enter-active {
  left:0;
  opacity:1;
}

.my-repeat-animation > .ng-leave {
  left:0;
  opacity:1;
}
.my-repeat-animation > .ng-leave.ng-leave-active {
  left:-10px;
  opacity:0;
}

.my-repeat-animation > .ng-move {
  opacity:0.5;
}
.my-repeat-animation > .ng-move.ng-move-active {
  opacity:1;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 2px solid rgba(255,255,255,0.4);
  border-radius: 40px;
  margin: auto;
  margin-bottom: 100px;
}
.spin-thing {
  width: 10px;
  height: 10px;
  background-color: #4a87ee;
  border-radius: 10px;
}
    </style>

  </head>
  <body ng-controller="TestCtrl">

    <header class="bar bar-header bar-positive">
      <div class="buttons">
        <button ng-click="toggleDelete()" class="button button-clear">{{ editBtnText }}</button>
      </div>
      <h1 class="title">Angular List Tests</h1>
      <div class="buttons">
        <button ng-click="toggleReorder()" class="button button-clear">{{ reorderBtnText }}</button>
      </div>
    </header>

    <div class="content has-header">

      <div class="reveal-animation">

        <list show-delete="isDeletingItems"
              show-reorder="isReorderingItems"
              on-refresh-holding="refreshHolding()"
              on-refresh-opening="refreshOpening(ratio)"
              on-refresh="refreshItems()"
              refresh-complete="refreshComplete"
              animation="my-repeat-animation">

          <refresher></refresher>

          <item ng-repeat="item in items" 
                item="item"
                option-buttons="itemOptionButtons"

                delete-icon="ion-minus-circled"
                reorder-icon="ion-navicon"

                can-delete="true"
                can-reorder="true"
                can-swipe="true"

                on-delete="deleteItem(item)">
            
            {{ item.text }}

          </item>
        </list>
      </div>

    </div>

    <script src="../../../../dist/js/ionic.js"></script>
    <script src="../../../../dist/js/angular/angular.js"></script>
    <script src="../../../../dist/js/angular/angular-animate.js"></script>
    <script src="../../../../dist/js/angular/angular-route.js"></script>
    <script src="../../../../dist/js/angular/angular-touch.js"></script>
    <script src="../../../../dist/js/angular/angular-sanitize.js"></script>
    <script src="../../../../dist/js/ionic-angular.js"></script>
    <script>
      angular.module('navTest', ['ionic.ui.list', 'ionic.ui.content'])

      .controller('TestCtrl', function($scope, $timeout) {


        // Build Mock Data
        function buildMockData() {
          $scope.items = [];
          for(var i = 0; i < 50; i++) {
            $scope.items.push({
              text: 'Item ' + i
            });
          }

          // shows how individual items can have different options
          $scope.items[0] = {
            text: 'Item 0 has its own option buttons',
            optionButtons: [
              {
                text: 'Special Button!',
                onClick: function(item, button) { alert('* ' + button.text + ': ' + item.text + ' *'); }
              }
            ]
          };
          $scope.items[1] = {
            text: 'Item 1 has a different delete icon and delete method',
            deleteIcon: 'ion-close-circled',
            onDelete: function(item, button) { alert(item.text); }
          };
          $scope.items[2] = {
            text: 'Item 2 has a different reorder icon',
            reorderIcon: 'ion-drag'
          };
          $scope.items[3] = {
            text: 'Item 3 has a left icon',
            itemIconLeft: 'ion-stats-bars'
          };
          $scope.items[4] = {
            text: 'Item 4 has a right icon',
            itemIconRight: 'ion-star'
          };
          $scope.items[5] = {
            text: 'Item 5 has a left and right icon',
            itemIconLeft: 'ion-calendar',
            itemIconRight: 'ion-forward'
          };
        }
        buildMockData();


        // Set Display Defaults
        $scope.editBtnText = 'Edit';
        $scope.reorderBtnText = 'Reorder';


        // List Methods/Properties
        $scope.refreshHolding = function() {
          console.log('HOLDING FOR REFRESH');
        };
        $scope.refreshOpening = function(amt) {
          console.log('REFRESH OPENING', amt);
          $scope.refreshRatio.ratio = amt;
          $scope.$apply();
        };
        $scope.refreshItems = function() {
          console.log("REFRESHING");
          $timeout(function() {
            buildMockData();
            $scope.refreshComplete();
          }, 1500);
        };
        $scope.refreshRatio = { ratio: 0 };


        // List Toggles
        $scope.toggleDelete = function() {
          $scope.isDeletingItems = !$scope.isDeletingItems;
          $scope.isReorderingItems = false;
          $scope.editBtnText = ($scope.isDeletingItems ? 'Done' : 'Edit');
        };
        $scope.toggleReorder = function() {
          $scope.isReorderingItems = !$scope.isReorderingItems;
          $scope.isDeletingItems = false;
          $scope.reorderBtnText = ($scope.isReorderingItems ? 'Done' : 'Reorder');
        };


        // Item Methods/Properties
        $scope.deleteItem = function(item) {
          $scope.items.splice($scope.items.indexOf(item), 1);
        };
        $scope.itemOptionButtons = [
          {
            text: 'Edit',
            onClick: function(item, button) { alert(button.text + ': ' + item.text) }
          },
          {
            text: 'Share',
            onClick: function(item, button) { alert(button.text + ': ' + item.text) }
          }
        ];


      });
    </script>
  </body>
</html>

